/****Kaizer Girod, MCC, 3/6/24*******/
body{
font-family: 'Noto Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

ul{
    padding-left: 0;
    list-style-type: none;
}

h1, p{
    text-decoration-color: powderblue;
}

p{
    max-width: 50%;
}